@import '../../globals.scss';

.paragraph-skeleton {
  animation: pulse 0.9s linear infinite;
  background: $gray-300;
  line-height: 18px;

  &.thin {
    height: 4px;
    border-radius: 12px;
  }
  
  &.medium {
    height: 8px;
    border-radius: 16px;
  }
  
  &.thick {
    height: 10px;
    border-radius: 20px;
  }
}