@import '../../globals.scss';

.badge {
  align-items: center;
  border: 1px solid $gray-600;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  font-size: 7px;
  font-weight: $fw-semibold;
  padding: 0 2px;
  max-width: 100%;
;

  &.green {
    color: $app-green;
    border-color: $app-green;
  }

  &.red {
    color: $app-red;
    border-color: $app-red;
  }

  &.purple {
    color: $app-purple;
    border-color: $app-purple;
  }

  &.blue {
    color: $app-blue;
    border-color: $app-blue;
  }

  &.yellow {
    color: $app-yellow;
    border-color: $app-yellow;
  }

  &.orange {
    color: $app-orange;
    border-color: $app-orange;
  }

  &.gray {
    color: $app-gray;
    border-color: $app-gray;
  }
}