@import '../../globals.scss';

.badge {
  align-items: center;
  border: 1px solid $gray-600;
  border-radius: 40px;
  color: $gray-300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-normal;
  font-weight: $fw-semibold;
  min-height: 14px;
  max-width: 100%;
  padding: 0 6px;

  .content {
    max-width: 100%;
  }

  &.green {
    border-color: $app-green;
    background: rgba($app-green, 0.3);
  }

  &.red {
    border-color: $app-red;
    background: rgba($app-red, 0.3);
  }

  &.purple {
    border-color: $app-purple;
    background: rgba($app-purple, 0.3);
  }

  &.blue {
    border-color: $app-blue;
    background: rgba($app-blue, 0.3);
  }

  &.yellow {
    border-color: $app-yellow;
    background: rgba($app-yellow, 0.3);
  }

  &.orange {
    border-color: $app-orange;
    background: rgba($app-orange, 0.3);
  }

  &.gray {
    border-color: $app-gray;
    background: rgba($app-gray, 0.3);
  }

  &.skeleton {
    animation: pulse 0.9s linear infinite;
  }
}