@import '../../globals.scss';

.badge {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2px;
  font-size: 7px;
  font-weight: $fw-semibold;
  max-width: 100%;

  &.green {
    color: $hash-green;
    border: 1px solid $hash-green;
  }

  &.red {
    color: $hash-red;
    border: 1px solid $hash-red;
  }

  &.purple {
    color: $hash-purple;
    border: 1px solid $hash-purple;
  }

  &.blue {
    color: $hash-blue;
    border: 1px solid $hash-blue;
  }

  &.yellow {
    color: $hash-yellow;
    border: 1px solid $hash-yellow;
  }

  &.orange {
    color: $hash-orange;
    border: 1px solid $hash-orange;
  }

  &.gray {
    color: $hash-gray;
    border: 1px solid $hash-gray;
  }
}