@import '../../globals.scss';

.movies-section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 180px;
  
  .movies-section-header {
    .section-title {
      margin: 0;
      padding: 0;
      color: $gray-300
    }
  }

  .movies-section-body {
    .movie-list {
      width: 100%;
      float: left;
    }
  }
}