@import '../../globals.scss';

.movies-section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  
  .movies-section-header {
    .section-title {
      margin: 0;
      padding: 0;
      color: $gray-300;
    }
  }

  .movies-section-body {
    .movie-list {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 16px;
      width: 100%;
    }
  }
}