@import '../../globals.scss';

.spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid $gray-500;
  border-color: $gray-300 transparent $gray-300 transparent;

  z-index: 1;

  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}