@import "../Character.scss";

.home-world {
  margin-top: 8px;
  max-width: 100%;
  width: 100%;

  .content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .text-content {
      align-items: center;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      color: $gray-600;
      text-transform: capitalize;

      margin-top: 3px;
      text-align: center;
      // margin-left: 3px; //this is for globe icon

      .name-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .world-name {
          color: $gray-300;
          font-size: $font-medium;
          font-weight: $fw-bold;
          margin-left: 6px;
        }
      }
      
      .world-population {
        margin-left: 6px;
        color: $gray-600;
        font-size: $font-small-normal;
      }
    }
    
  }
}

