@import "../Character.scss";

.home-world {
  margin-top: 6px;
  
  .title {
    text-align: center;
    font-size: 7px;
    color: $gray-700;
  }

  .content {
    align-items: center;
    color: $gray-800;
    display: flex;
    
    .world-name {
      font-size: 9px;
      font-weight: $fw-semibold;
      margin-left: 6px;
      line-height: 13px;
    }
  
    .world-population {
      margin-left: 3px;
      color: $gray-600;
      font-size: 6px;
      line-height: 13px;
    }
  }
}

