@import "../Character.scss";

.home-world {
  margin-top: 6px;
  max-width: 100%;
  
  .title {
    text-align: center;
    margin-top: 2px;
  }

  .content {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    color: $gray-600;
    max-width: 100%;
    
    .world-name {
      color: $gray-300;
      font-size: $font-medium-large;
      font-weight: $fw-semibold;
      margin-left: 6px;
      line-height: 23px;
    }
  
    .world-population {
      margin-left: 6px;
      color: $gray-600;
      font-size: $font-small-normal;
      line-height: 15px;
    }
  }
}

