@import '../MovieItem.scss';

.release-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .release-info__title {
    font-size: $font-normal;
    color: $gray-400;
  }
  
  .release-info__date {
    color: $gray-200;
    font-weight: $fw-semibold;
    font-size: $font-medium-large;
    white-space: nowrap;
  }
}