@import "../../globals.scss";

.avatar {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $gray-200;
  font-size: 30px;
  height: 60px;
  width: 60px;
  font-weight: $fw-semibold;
  background: $gray-100;
}

