@import "./globals.scss";

body {
  margin: 0;
  height: 100%;
  
  .App {
    display: flex;
    overflow: hidden;
    justify-content: center;

    .app-layout {
      padding: 12px 30px;
      position: absolute;

      .app-content {
        justify-content: center;
        z-index: 1;

        .character-search {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .characters-wrapper {
          align-items: center;
          display: flex;          
          overflow-x: auto;
          margin-top: 30px;
          border-radius: 8px;
          // background: $gray-900;
          padding: 10px 5px;
          max-width: 1000px;
          
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;

          z-index: 1;

          &::-webkit-scrollbar {
            height: 8px;
          }
          
          &::-webkit-scrollbar-thumb {
            width: 2px;
            background: $gray-200; 
            border-radius: 10px;

            &:hover {
              background: $gray-700;
            }
          }
        }
      }
    }
  }
}