@import "./globals.scss";

.characters-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth
}

body {
  background: #000;
}