// Font Weight
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-normal: 400;

// Gray
$gray-default: #272833;
$gray-000: #F9F9F9;
$gray-100: #F0F0F1;
$gray-200: #E9EAEB;
$gray-300: #DFDFE0;
$gray-400: #D4D4D6;
$gray-500: #BEBFC2;
$gray-600: #A9A9AD;
$gray-700: #7D7E85;
$gray-800: #52535C;
$gray-900: #3D3E47;

// Yellow
$yellow-default: '#FFB702';
$yellow-100: '#FFF8E5';
$yellow-200: '#FFF2CA';
$yellow-300: '#FFE395';
$yellow-500: '#FFC618';
$yellow-700: '#7E6217';
$yellow-800: '#524527';


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Hashable colors
$app-black: #000;
$app-green: #22B40E;
$app-red: #C21431;
$app-purple: #A729FF;
$app-blue: #3c63ff;
$app-yellow: #F2FF29;
$app-orange: #FF9429;
$app-gray: $gray-600;

$font-tiny: 6px;
$font-small: 8px;
$font-small-normal: 10px;
$font-normal: 12px;
$font-medium: 14px;
$font-medium-large: 16px;
$font-large: 22px;
$font-super-large: 42px;
$font-app-head: 62px;
$font-app-subhead: 42px;

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}